@import '../breakpoints.scss';
@import '../helpers.scss';

.list {
    width: 220px;
    background-color: $primary;
    margin-left: -15px;
    border-radius: 5px;

    ul {
        list-style-type: none;
        padding-top: 5px;
        margin-top: 0;
        padding-left: 0
    } ;
    li {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        .selectedItem {
                color: $purble;
            }
    }
    
    span {
        font-size: 12px;
        font-weight: 500;
        color: #837d7d;
        margin-left: 15px
    };
}

.list span:hover
{
    color: $purble;
}

.divider {
    padding: 0%;
    margin: 0;
}
.icon {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.contentLeftSide {
    display: flex;
    height: fit-content;
    align-items: center;
    div
    {
        display: flex;
        margin-left: 5px;
    }
}

.contentRightSide {
    height: fit-content;
    display: flex;
    gap: 5px;
}
.contentHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}
.downloadBtn,
.addBtn,
.importBtn {
    justify-content: $center;
    align-items: $center;
    display: flex;
}
.downloadBtn {
    width: 120px;
    background-color: $hoverColor;

    span {
        color: $purble;
        font-size: 10px;
    }
}

.ri-download-line,
.ri-upload-line {
    color: $purble;
    margin-right: 3px;
    font-size: 10px;
}

.importBtn {
    width: 80px;
    background-color: $hoverColor;

    span {
        color: $purble;
        font-size: 10px;
    }
}

.addBtn {
    background-color: $purble;

    span {
        color: $hoverColor;
        font-size: 10px;
    }
}

.ri-add-circle-fill {
    color: $hoverColor;
    margin-right: 3px;
    font-size: 10px;
}
.subContent {
    display: flex;
    margin-top: 10px;
}
.subSubContent {
    width: 100%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.list{
    @include xs {
        display: none;
        }
    
     @include sm {
        display: none;
            }
    
    @include md {
        display: block !important;
        }
    
            @include lg {
        display: block !important;   
        }
    
            @include xl {
        display: block !important;
        }
}
.subSubContent
{
@include xs {
    margin-left: 0;
}

    @include sm {
        margin-left: 0px;
    }

    @include md {
        margin-left: 10px;
        }

    @include lg {
        margin-left: 10px;
        }

    @include xl {
        margin-left: 10px;
        }
     }

    .contentLeftSide
    {
         @include xs {
           display: flex;
           flex-wrap:wrap ;
        }
    
        @include sm {
            flex-wrap:wrap ;
        }
    
        @include md {
        flex-wrap: nowrap;
        margin-bottom: 5px;
        }
    
        @include lg {
         flex-wrap: nowrap;
        }
    
        @include xl {
        flex-wrap: nowrap;
        }
    }
    .contentRightSide {
    @include xs {
        flex-wrap: wrap;
        margin-top: 5px;
    }

    @include sm {
        flex-wrap: wrap;
        margin-top: 0px;
    }

    @include md {
        flex-wrap: wrap;
        margin-top: 0px;
    }

    @include lg {
        flex-wrap: wrap;
        margin-top: 0px;
    }

    @include xl {
        flex-wrap: wrap;
        margin-top: 0px;
    }

    }

    .subContent
    {
        @include xs {
             margin-left: -10px;
            }
        
            @include sm {
            margin-left: -10px;
            }
        
            @include md {
            margin-left: 0px;
            }
        
            @include lg {
            margin-left: 0px;
            }
        
            @include xl {
            margin-left: 0px;
            }
    }
