@import '../helpers.scss';
.search
{
    width: 210px;
    height: 25px;
    padding: 0;
}
.searchBtn ,.refreshBtn
{
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBtn
{
    background-color: $purble;
}
.refreshBtn
{
    background-color: $hoverColor;
}
.ant-btn.ant-btn-default .ant-btn-sm .ant-btn-icon-only {
    color: $primary;
}
.btnIcon,.btnIcon2{
    font-size: 10px;
    justify-content: $center;
    align-items: $center;
    margin: 0;
    padding: 0;
}
.btnIcon
{
    color: $primary ;
}
.btnIcon2 {
    color: $purble ;
}
.filter{
    margin-left: 10px;
    width: 60px;
    display: flex;
    justify-content: $center;
    align-items: $center;
    padding: 0;
    background-color: $hoverColor;
    span
    {
        color: $purble;
        font-size: 10px;
        margin-left: 0;
    }
}
.filterIcon
{
    color: $purble;
    margin: 0;
    padding: 0;
}

.searchBtn,
.refreshBtn
{
    @include xs {
            margin-left: 0;
            margin-right:5px;
        }
    
        @include sm {
            margin-left: 5;
            margin-right: 2px;
        }
    
        @include md {
            margin-left: 5;
            margin-right:2px;
                }
    
        @include lg {
                margin-left: 5;
                margin-right: 2px;
        }
    
        @include xl {
                margin-left: 5;
                margin-right: 2px;
        }
    }
    
.search
{
    @include xs {
        width: 30%;
        }
    
        @include sm {
        width: 210px;
        }
    
        @include md {
        width: 210px;
        }
    
        @include lg {
        width: 210px;
        }
    
        @include xl {
        width: 210px;
        }
}
.filter
{
     @include xs {
        margin-left:2px ;
        }
    
        @include sm {
       margin-left:10px ;
        }
    
        @include md {
         margin-left:10px ;
        }
    
        @include lg {
         margin-left:10px ;
        }
    
        @include xl {
         margin-left:10px ;
        } 
}