@import '../helpers.scss';
.ant-layout .ant-layout-sider-children {
    background-color: #fff;
    margin-top: 0;
}
.ant-btn >span
{
display: $display-flex;
justify-content: center;
align-items: center;
font-size: 9px;
}
.ri-dashboard-3-fill,.ri-briefcase-4-fill,.ri-folder-3-fill,.ri-building-2-fill
,.ri-user-2-fill,.ri-settings-fill
{
    font-size: $font-size-15;
    color: $icon-color;
    margin-right: 10px;
    margin-left: 5px;
} 
.ri-dashboard-3-fill.ant-menu-item-icon::before,.ri-briefcase-4-fill .ant-menu-item-icon::before
,.ri-briefcase-4-fill.ant-menu-item-icon::before,.ri-folder-3-fill .ant-menu-item-icon::before,
.ri-building-2-fill.ant-menu-item-icon::before,.ri-user-2-fill.ant-menu-item-icon::before
{
    font-size: $font-size-15;
    color: $icon-color !important;
    padding-left: 0;
}
.ant-menu-item-selected {
    background-color: $li-hover-color !important;
}
.ant-menu-item.ant-menu-item-active
{
        color: $icon-color !important;
}
.ant-menu-item.ant-menu-item-selected
{
    width: 90%;
    height: 35px;
    border-radius: 5px;
}
.ant-menu-item.ant-menu-item-active
{
    width: 90%;
}
.ant-menu .ant-menu-item .ant-menu-item-icon{
    vertical-align:0
}
.ant-menu-item-selected
{
    .ri-briefcase-4-fill.ant-menu-item-icon::before
    {
            color: $purble !important;
    }
    .ant-menu-title-content span{
        color: $purble !important;
    }
}
.ri-folder-3-fill .ant-menu-item-icon::before{
    color: $purble;
}
.ant-menu-light
{
    color: $icon-color !important;}

.ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content
{
    margin-left: 0;
    color: $purble;
}
.site-layout-background
{
    right: 18px;
    top: 10px;
}
.ant-menu-light>.ant-menu
{color: $icon-color;}