$primary: #ffffff;
$display-flex: flex;
$align-center: center;
$justify-center:center;
$height: 70px;
$gray: #DADBDD;
$purble: #8467ff;
$textColor: #8d7be1;
$width: 350px;
$button-bg-color: #f6f4ff;
$button-txt-color: #9399a7;
$button-border-color: #f1f0f6;
$space-between: space-between;
$row-direction:row;
$job-bg-color: #f2f3f8;
$margin-1px:1px;
$margin-10px:10px;
$li-hover-color:#d7d1fd;
$black:#000;
$hoverColor: #e6e5f5;
$center: center;
$font-size-15: 15px;
$margin-rt-10: 10px;
$margin-lf-5: 5px;
$icon-color: #837d7d;
$left-13: -13px;